@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: auto;
}

/*Background*/

.background{
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

.background img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1003;
}

/*header*/
.header{
  margin: auto;
  max-width: 1400px;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo a{
  text-decoration: none;
  color: #000;
}

.header .logo a.tittle__a1{
  text-decoration: none;
  color: #c99806;
}

.header .logo h1{
  font-size: 45px;
  font-weight: 350;
}

@media screen and (max-width: 420px) {
  .header{
    padding: 20px 20px;
  }
}

/*menu-hamburger*/
.hamburger{
  background-color:transparent;
  position: relative;
	left:0;
	top:0;
	height:30px;
	width:30px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#646363;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger .-top,
.hamburger .-bottom,
.hamburger .-mid{
  box-shadow: 0 1px 3px #717274;
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
  -webkit-transform:translateX(30%);
	-ms-transform:translateX(30%);
	transform:translateX(30%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
  -webkit-transform:translateX(30%);
	-ms-transform:translateX(30%);
	transform:translateX(30%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity: 0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{  
  margin: auto;
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background: url(../images/4877010.jpg) no-repeat ;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}
.menuppal ul{
  padding: 20px;
  margin: auto;
  flex-wrap: wrap;
}
.menuppal ul li { 
  list-style: none;
	font-size:35px;
	margin-bottom: 50px;
  color:rgb(0, 0, 0);
  text-align: start;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  font-weight: 400;
  text-decoration:none;
  color:rgb(0, 0, 0);
  transition: all 300ms;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color: #c99806;
}
.menuppal ul.ul2 li{
  list-style: none;
	font-size: 18px;
  font-weight: 300;
  color:rgb(0, 0, 0);
  text-align: center;
}
.menuppal ul.ul2 li.title__li{
  font-size: 30px;
  font-weight: 400;
}

@media screen and (max-width: 600px){
  .menuppal ul li{
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .menuppal{
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
  }
}

/*section__text*/

.info__text__media{
  position: relative;
  margin-top: 100px;
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.info__text__media .contenedor-texto .titulo {
  position: relative;
  margin-top: 100px;
  padding: 0px 60px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 95px;
}

.info__text__media .contenedor-texto .mascota {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 80px;
  font-weight: 300;
  color: #c99806;
  font-style: normal;
}

.info__text__media .image img{
  width: 650px;
  height: 450px;
  top: -10%;
  left: 50%;
}

@media screen and (max-width: 1200px) {
  .info__text__media .contenedor-texto{
    margin: auto;
    text-align: center;
  }
  .info__text__media .contenedor-texto .titulo {
    padding: 0px 10px;
    font-size: 35px;
  }
  .info__text__media .contenedor-texto .mascota {
    font-size: 50px;
  }
  .info__text__media .image img{
    display: none;
  }
}








.cursor{
  width: 8px;
  height: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 0 2px #00000044, 0 0 4px #292a2b, 0 0 6px #3a3f41, 0 0 8px #4f5c5f;
  transition-duration: 100ms;
  z-index: -1001;
}